In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Pandas Setting

In [2]:
pd.describe_option()

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd.
    [default: auto] [currently: auto]
io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    auto, xlwt.
    [default: auto] [currently: auto]
    (Deprecated, use `` instead.)
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).
    [default: False] [currently: False]
mode.use_inf_as_null : boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.
    [default: False] [currently: False]
    (Deprecated, use `mode.use_inf_as_na` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

In [3]:
pd.options.display.max_columns = 99

In [4]:
pd.options.display.max_rows = 500

# Load the Dataset

In [5]:
df = pd.read_csv('hotel_bookings.csv')

In [6]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [8]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [9]:
df.shape

(119390, 32)

# Missing Values Imputation

In [10]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

### 1. Company

In [11]:
df['company'].value_counts(normalize=True, dropna=False)

NaN      0.943069
40.0     0.007764
223.0    0.006567
67.0     0.002236
45.0     0.002094
153.0    0.001801
174.0    0.001248
219.0    0.001181
281.0    0.001156
154.0    0.001114
405.0    0.000997
233.0    0.000955
51.0     0.000829
94.0     0.000729
47.0     0.000603
135.0    0.000553
169.0    0.000544
242.0    0.000519
331.0    0.000511
348.0    0.000494
498.0    0.000486
110.0    0.000436
38.0     0.000427
20.0     0.000419
342.0    0.000402
280.0    0.000402
91.0     0.000402
62.0     0.000394
197.0    0.000394
68.0     0.000385
270.0    0.000360
218.0    0.000360
195.0    0.000318
202.0    0.000318
148.0    0.000310
9.0      0.000310
307.0    0.000302
113.0    0.000302
204.0    0.000285
238.0    0.000276
269.0    0.000276
308.0    0.000276
86.0     0.000268
385.0    0.000251
72.0     0.000251
43.0     0.000243
365.0    0.000243
343.0    0.000243
144.0    0.000226
178.0    0.000226
221.0    0.000226
46.0     0.000218
337.0    0.000209
418.0    0.000209
366.0    0.000201
227.0    0.000201
424.0    0.000201
179.0    0.000201
81.0     0.000193
507.0    0.000193
477.0    0.000193
88.0     0.000184
78.0     0.000184
407.0    0.000184
216.0    0.000176
286.0    0.000176
150.0    0.000159
209.0    0.000159
523.0    0.000159
251.0    0.000151
122.0    0.000151
396.0    0.000151
292.0    0.000151
31.0     0.000142
290.0    0.000142
163.0    0.000142
143.0    0.000142
183.0    0.000134
193.0    0.000134
103.0    0.000134
127.0    0.000126
408.0    0.000126
525.0    0.000126
397.0    0.000126
120.0    0.000117
346.0    0.000117
82.0     0.000117
485.0    0.000117
268.0    0.000117
274.0    0.000117
367.0    0.000117
12.0     0.000117
263.0    0.000117
203.0    0.000109
355.0    0.000109
112.0    0.000109
92.0     0.000109
428.0    0.000109
390.0    0.000109
380.0    0.000101
99.0     0.000101
338.0    0.000101
465.0    0.000101
435.0    0.000101
329.0    0.000101
291.0    0.000101
186.0    0.000101
130.0    0.000101
360.0    0.000101
409.0    0.000101
108.0    0.000092
399.0    0.000092
333.0    0.000092
371.0    0.000092
504.0    0.000092
323.0    0.000084
254.0    0.000084
450.0    0.000084
37.0     0.000084
356.0    0.000084
324.0    0.000075
14.0     0.000075
384.0    0.000075
83.0     0.000075
421.0    0.000075
317.0    0.000075
379.0    0.000075
207.0    0.000075
107.0    0.000075
105.0    0.000067
279.0    0.000067
215.0    0.000067
53.0     0.000067
34.0     0.000067
39.0     0.000067
358.0    0.000059
437.0    0.000059
225.0    0.000059
118.0    0.000059
297.0    0.000059
167.0    0.000059
388.0    0.000059
59.0     0.000059
521.0    0.000059
364.0    0.000050
451.0    0.000050
439.0    0.000050
116.0    0.000050
255.0    0.000050
159.0    0.000050
383.0    0.000050
511.0    0.000050
515.0    0.000050
394.0    0.000050
22.0     0.000050
341.0    0.000042
357.0    0.000042
180.0    0.000042
443.0    0.000042
444.0    0.000042
293.0    0.000042
459.0    0.000042
470.0    0.000042
149.0    0.000042
410.0    0.000042
49.0     0.000042
48.0     0.000042
302.0    0.000042
369.0    0.000042
287.0    0.000042
16.0     0.000042
277.0    0.000042
377.0    0.000042
490.0    0.000042
530.0    0.000042
42.0     0.000042
382.0    0.000042
28.0     0.000042
220.0    0.000034
395.0    0.000034
494.0    0.000034
185.0    0.000034
353.0    0.000034
392.0    0.000034
115.0    0.000034
452.0    0.000034
282.0    0.000034
448.0    0.000034
445.0    0.000034
426.0    0.000034
137.0    0.000034
330.0    0.000034
192.0    0.000034
512.0    0.000025
334.0    0.000025
73.0     0.000025
350.0    0.000025
200.0    0.000025
224.0    0.000025
275.0    0.000025
165.0    0.000025
146.0    0.000025
319.0    0.000025
139.0    0.000025
246.0    0.000025
272.0    0.000025
93.0     0.000025
84.0     0.000025
372.0    0.000025
240.0    0.000025
312.0    0.000025
466.0    0.000025
260.0    0.000025
245.0    0.000025
378.0    0.000025
230.0    0.000025
460.0    0.000025
457.0    0.000025
158.0    0.000017
250.0    0.000017
222.0    0.000017
483.0    0.000017
478.0    0.000017
433.0    0.000017
429.0    0.000017
243.0    0.000017
332.0    0.000017
304.0    0.000017
325.0    0.000017
311.0    0.000017
61.0     0.000017
264.0    0.000017
71.0     0.000017
210.0    0.000017
217.0    0.000017
321.0    0.000017
316.0    0.000017
85.0     0.000017
486.0    0.000017
271.0    0.000017
528.0    0.000017
411.0    0.000017
513.0    0.000017
543.0    0.000017
259.0    0.000017
106.0    0.000017
492.0    0.000017
482.0    0.000017
232.0    0.000017
514.0    0.000017
289.0    0.000017
351.0    0.000017
29.0     0.000017
491.0    0.000017
168.0    0.000017
484.0    0.000017
349.0    0.000017
361.0    0.000017
447.0    0.000017
456.0    0.000017
458.0    0.000017
362.0    0.000017
52.0     0.000017
370.0    0.000017
423.0    0.000017
518.0    0.000017
534.0    0.000017
400.0    0.000017
278.0    0.000017
391.0    0.000017
436.0    0.000017
403.0    0.000017
539.0    0.000017
412.0    0.000008
420.0    0.000008
301.0    0.000008
489.0    0.000008
284.0    0.000008
229.0    0.000008
481.0    0.000008
497.0    0.000008
10.0     0.000008
273.0    0.000008
417.0    0.000008
419.0    0.000008
415.0    0.000008
18.0     0.000008
425.0    0.000008
257.0    0.000008
305.0    0.000008
373.0    0.000008
398.0    0.000008
401.0    0.000008
212.0    0.000008
132.0    0.000008
393.0    0.000008
446.0    0.000008
422.0    0.000008
479.0    0.000008
352.0    0.000008
318.0    0.000008
104.0    0.000008
314.0    0.000008
320.0    0.000008
288.0    0.000008
313.0    0.000008
6.0      0.000008
413.0    0.000008
368.0    0.000008
213.0    0.000008
109.0    0.000008
347.0    0.000008
516.0    0.000008
496.0    0.000008
499.0    0.000008
520.0    0.000008
506.0    0.000008
531.0    0.000008
126.0    0.000008
64.0     0.000008
402.0    0.000008
96.0     0.000008
309.0    0.000008
541.0    0.000008
455.0    0.000008
501.0    0.000008
253.0    0.000008
80.0     0.000008
77.0     0.000008
65.0     0.000008
76.0     0.000008
100.0    0.000008
258.0    0.000008
160.0    0.000008
442.0    0.000008
454.0    0.000008
35.0     0.000008
234.0    0.000008
237.0    0.000008
8.0      0.000008
416.0    0.000008
102.0    0.000008
184.0    0.000008
386.0    0.000008
140.0    0.000008
54.0     0.000008
461.0    0.000008
142.0    0.000008
32.0     0.000008
11.0     0.000008
487.0    0.000008
101.0    0.000008
376.0    0.000008
Name: company, dtype: float64

In [12]:
# Here 94% of the data is missing so dropping the whole column
df.drop('company', axis=1, inplace=True)

In [13]:
df.shape

(119390, 31)

### 2. children

In [14]:
df['children'].value_counts(normalize=True, dropna=False)

0.0     0.928017
1.0     0.040715
2.0     0.030589
3.0     0.000637
NaN     0.000034
10.0    0.000008
Name: children, dtype: float64

In [15]:
# Here only 0.034% of data is missing so dropping those rows from the dataset
df.dropna(subset=['children'], inplace=True)

In [16]:
df.shape

(119386, 31)

### 3. Country

In [17]:
df['country'].value_counts(normalize=True, dropna=False)

PRT    0.406966
GBR    0.101595
FRA    0.087238
ESP    0.071767
DEU    0.061037
ITA    0.031545
IRL    0.028270
BEL    0.019617
BRA    0.018629
NLD    0.017624
USA    0.017565
CHE    0.014491
CN     0.010713
AUT    0.010579
SWE    0.008577
CHN    0.008368
POL    0.007698
ISR    0.005604
RUS    0.005294
NOR    0.005084
ROU    0.004188
NaN    0.004088
FIN    0.003744
DNK    0.003644
AUS    0.003568
AGO    0.003032
LUX    0.002404
MAR    0.002169
TUR    0.002077
HUN    0.001927
ARG    0.001793
JPN    0.001650
CZE    0.001432
IND    0.001273
KOR    0.001114
GRC    0.001072
DZA    0.000863
SRB    0.000846
HRV    0.000838
MEX    0.000712
EST    0.000695
IRN    0.000695
LTU    0.000678
ZAF    0.000670
BGR    0.000628
NZL    0.000620
COL    0.000595
UKR    0.000570
MOZ    0.000561
CHL    0.000544
SVK    0.000544
THA    0.000494
SVN    0.000477
ISL    0.000477
LVA    0.000461
ARE    0.000427
CYP    0.000427
TWN    0.000427
SAU    0.000402
PHL    0.000335
TUN    0.000327
SGP    0.000327
IDN    0.000293
NGA    0.000285
EGY    0.000268
URY    0.000268
LBN    0.000260
PER    0.000243
HKG    0.000243
MYS    0.000235
ECU    0.000226
VEN    0.000218
BLR    0.000218
CPV    0.000201
GEO    0.000184
JOR    0.000176
KAZ    0.000159
CRI    0.000159
GIB    0.000151
MLT    0.000151
OMN    0.000151
AZE    0.000142
KWT    0.000134
MAC    0.000134
QAT    0.000126
IRQ    0.000117
DOM    0.000117
PAK    0.000117
BIH    0.000109
MDV    0.000101
BGD    0.000101
ALB    0.000101
PRI    0.000101
SEN    0.000092
CMR    0.000084
MKD    0.000084
BOL    0.000084
PAN    0.000075
GNB    0.000075
TJK    0.000075
VNM    0.000067
CUB    0.000067
ARM    0.000067
JEY    0.000067
LBY    0.000067
AND    0.000059
MUS    0.000059
LKA    0.000059
CIV    0.000050
JAM    0.000050
KEN    0.000050
FRO    0.000042
MNE    0.000042
TZA    0.000042
BHR    0.000042
CAF    0.000042
SUR    0.000042
PRY    0.000034
BRB    0.000034
GTM    0.000034
UZB    0.000034
MCO    0.000034
GAB    0.000034
GHA    0.000034
ZWE    0.000034
ETH    0.000025
TMP    0.000025
LIE    0.000025
GGY    0.000025
SYR    0.000025
BEN    0.000025
GLP    0.000017
SLV    0.000017
ATA    0.000017
MYT    0.000017
ABW    0.000017
KHM    0.000017
LAO    0.000017
STP    0.000017
ZMB    0.000017
MWI    0.000017
IMN    0.000017
COM    0.000017
TGO    0.000017
UGA    0.000017
KNA    0.000017
RWA    0.000017
SYC    0.000017
KIR    0.000008
SDN    0.000008
NCL    0.000008
AIA    0.000008
ASM    0.000008
FJI    0.000008
ATF    0.000008
LCA    0.000008
GUY    0.000008
PYF    0.000008
DMA    0.000008
SLE    0.000008
MRT    0.000008
NIC    0.000008
BDI    0.000008
PLW    0.000008
MLI    0.000008
CYM    0.000008
BFA    0.000008
MDG    0.000008
MMR    0.000008
NPL    0.000008
BHS    0.000008
UMI    0.000008
SMR    0.000008
DJI    0.000008
BWA    0.000008
HND    0.000008
VGB    0.000008
NAM    0.000008
Name: country, dtype: float64

In [18]:
# Here only 4% of data is missing so replacing that data with mode of the column
df['country'].fillna(df['country'].mode()[0], inplace=True)

In [19]:
df['country'].isna().sum()

0

### 4. agent

In [20]:
df['agent'].value_counts(normalize=True, dropna=False)

9.0      0.267703
NaN      0.136850
240.0    0.116613
1.0      0.060233
14.0     0.030481
7.0      0.029643
6.0      0.027558
250.0    0.024040
241.0    0.014415
28.0     0.013955
8.0      0.012682
3.0      0.011191
37.0     0.010303
19.0     0.008887
40.0     0.008703
314.0    0.007765
21.0     0.007329
229.0    0.006584
242.0    0.006533
83.0     0.005830
29.0     0.005721
171.0    0.005084
12.0     0.004841
85.0     0.004640
20.0     0.004523
96.0     0.004498
243.0    0.004305
30.0     0.004054
134.0    0.004037
298.0    0.003954
27.0     0.003769
15.0     0.003367
26.0     0.003359
11.0     0.003309
22.0     0.003200
56.0     0.003141
273.0    0.002923
177.0    0.002907
86.0     0.002831
58.0     0.002806
5.0      0.002764
119.0    0.002546
196.0    0.002521
34.0     0.002463
44.0     0.002446
138.0    0.002404
315.0    0.002379
38.0     0.002295
10.0     0.002178
236.0    0.002069
16.0     0.002061
17.0     0.002019
115.0    0.001885
251.0    0.001843
68.0     0.001767
42.0     0.001767
191.0    0.001658
175.0    0.001633
154.0    0.001617
195.0    0.001617
156.0    0.001591
168.0    0.001541
152.0    0.001533
208.0    0.001449
143.0    0.001441
326.0    0.001382
2.0      0.001357
31.0     0.001357
147.0    0.001307
132.0    0.001198
52.0     0.001148
142.0    0.001148
95.0     0.001131
410.0    0.001114
248.0    0.001097
234.0    0.001072
67.0     0.001064
39.0     0.001064
330.0    0.001047
98.0     0.001039
146.0    0.001039
94.0     0.000955
35.0     0.000913
220.0    0.000871
36.0     0.000838
89.0     0.000829
464.0    0.000821
155.0    0.000787
170.0    0.000779
69.0     0.000754
159.0    0.000745
253.0    0.000729
13.0     0.000687
281.0    0.000687
185.0    0.000653
82.0     0.000645
339.0    0.000645
87.0     0.000645
41.0     0.000628
75.0     0.000611
71.0     0.000611
118.0    0.000578
531.0    0.000570
99.0     0.000570
157.0    0.000511
385.0    0.000503
181.0    0.000494
91.0     0.000486
390.0    0.000477
495.0    0.000477
133.0    0.000469
151.0    0.000469
440.0    0.000469
332.0    0.000461
308.0    0.000452
104.0    0.000444
184.0    0.000436
249.0    0.000427
47.0     0.000419
468.0    0.000410
436.0    0.000410
79.0     0.000394
4.0      0.000394
305.0    0.000377
127.0    0.000377
286.0    0.000377
183.0    0.000377
368.0    0.000377
66.0     0.000369
201.0    0.000352
296.0    0.000352
192.0    0.000343
375.0    0.000335
467.0    0.000327
261.0    0.000318
78.0     0.000310
121.0    0.000310
245.0    0.000310
162.0    0.000310
313.0    0.000302
378.0    0.000302
493.0    0.000293
527.0    0.000293
306.0    0.000293
77.0     0.000276
434.0    0.000276
394.0    0.000276
479.0    0.000268
387.0    0.000268
45.0     0.000268
33.0     0.000260
235.0    0.000243
252.0    0.000243
63.0     0.000243
254.0    0.000243
173.0    0.000243
350.0    0.000235
492.0    0.000235
334.0    0.000235
57.0     0.000235
149.0    0.000235
205.0    0.000226
323.0    0.000209
23.0     0.000209
153.0    0.000209
310.0    0.000209
502.0    0.000201
187.0    0.000201
256.0    0.000201
257.0    0.000201
336.0    0.000193
128.0    0.000193
64.0     0.000193
24.0     0.000184
174.0    0.000184
262.0    0.000184
348.0    0.000184
103.0    0.000176
359.0    0.000176
74.0     0.000168
50.0     0.000168
327.0    0.000168
423.0    0.000159
290.0    0.000159
60.0     0.000159
364.0    0.000159
455.0    0.000159
88.0     0.000159
223.0    0.000151
53.0     0.000151
474.0    0.000142
425.0    0.000134
111.0    0.000134
459.0    0.000134
411.0    0.000134
55.0     0.000134
32.0     0.000126
215.0    0.000126
193.0    0.000126
112.0    0.000126
360.0    0.000126
288.0    0.000117
105.0    0.000117
354.0    0.000117
307.0    0.000117
126.0    0.000117
129.0    0.000117
219.0    0.000109
393.0    0.000109
110.0    0.000101
484.0    0.000092
509.0    0.000084
526.0    0.000084
324.0    0.000075
328.0    0.000075
139.0    0.000067
475.0    0.000067
287.0    0.000067
276.0    0.000067
275.0    0.000067
481.0    0.000067
344.0    0.000067
418.0    0.000067
182.0    0.000067
210.0    0.000059
163.0    0.000059
92.0     0.000059
441.0    0.000059
325.0    0.000050
508.0    0.000050
81.0     0.000050
363.0    0.000050
72.0     0.000050
270.0    0.000050
141.0    0.000050
429.0    0.000042
405.0    0.000042
150.0    0.000042
214.0    0.000042
244.0    0.000034
180.0    0.000034
335.0    0.000034
355.0    0.000034
148.0    0.000034
295.0    0.000034
430.0    0.000034
371.0    0.000034
341.0    0.000034
403.0    0.000034
302.0    0.000025
535.0    0.000025
370.0    0.000025
321.0    0.000025
427.0    0.000025
258.0    0.000025
167.0    0.000025
426.0    0.000025
25.0     0.000025
420.0    0.000025
461.0    0.000017
303.0    0.000017
283.0    0.000017
122.0    0.000017
227.0    0.000017
269.0    0.000017
232.0    0.000017
211.0    0.000017
106.0    0.000017
404.0    0.000017
391.0    0.000017
449.0    0.000017
438.0    0.000017
414.0    0.000017
61.0     0.000017
454.0    0.000017
384.0    0.000017
469.0    0.000017
179.0    0.000017
135.0    0.000017
107.0    0.000017
510.0    0.000017
476.0    0.000017
282.0    0.000017
331.0    0.000017
432.0    0.000008
451.0    0.000008
54.0     0.000008
346.0    0.000008
450.0    0.000008
304.0    0.000008
59.0     0.000008
291.0    0.000008
397.0    0.000008
416.0    0.000008
433.0    0.000008
299.0    0.000008
197.0    0.000008
73.0     0.000008
444.0    0.000008
408.0    0.000008
165.0    0.000008
388.0    0.000008
453.0    0.000008
337.0    0.000008
480.0    0.000008
358.0    0.000008
333.0    0.000008
294.0    0.000008
144.0    0.000008
483.0    0.000008
70.0     0.000008
300.0    0.000008
472.0    0.000008
446.0    0.000008
114.0    0.000008
301.0    0.000008
90.0     0.000008
117.0    0.000008
352.0    0.000008
158.0    0.000008
93.0     0.000008
431.0    0.000008
213.0    0.000008
216.0    0.000008
367.0    0.000008
267.0    0.000008
406.0    0.000008
247.0    0.000008
278.0    0.000008
280.0    0.000008
285.0    0.000008
289.0    0.000008
265.0    0.000008
497.0    0.000008
Name: agent, dtype: float64

In [21]:
# Here only around 13% of data is missing so replacing that data with mode of the column 
df['agent'].fillna(df['agent'].mode()[0], inplace=True)

In [22]:
df['agent'].isna().sum()

0

In [23]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

# Memory check

In [24]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119386 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119386 non-null  object
 1   is_canceled                     119386 non-null  int64
 2   lead_time                       119386 non-null  int64
 3   arrival_date_year               119386 non-null  int64
 4   arrival_date_month              119386 non-null  object
 5   arrival_date_week_number        119386 non-null  int64
 6   arrival_date_day_of_month       119386 non-null  int64
 7   stays_in_weekend_nights         119386 non-null  int64
 8   stays_in_week_nights            119386 non-null  int64
 9   adults                          119386 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119386 non-null  int64
 12  meal                            119386 non-null  object
 13  country                         119386 non-null  object
 14  market_segment                  119386 non-null  object
 15  distribution_channel            119386 non-null  object
 16  is_repeated_guest               119386 non-null  int64
 17  previous_cancellations          119386 non-null  int64
 18  previous_bookings_not_canceled  119386 non-null  int64
 19  reserved_room_type              119386 non-null  object
 20  assigned_room_type              119386 non-null  object
 21  booking_changes                 119386 non-null  int64
 22  deposit_type                    119386 non-null  object
 23  agent                           119386 non-null  float64
 24  days_in_waiting_list            119386 non-null  int64
 25  customer_type                   119386 non-null  object
 26  adr                             119386 non-null  float64
 27  required_car_parking_spaces     119386 non-null  int64
 28  total_of_special_requests       119386 non-null  int64
 29  reservation_status              119386 non-null  object
 30  reservation_status_date         119386 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 104.8 MB

### Interger Columns

In [25]:
df.select_dtypes(include='int')

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,required_car_parking_spaces,total_of_special_requests
0,0,342,2015,27,1,0,0,2,0,0,0,0,3,0,0,0
1,0,737,2015,27,1,0,0,2,0,0,0,0,4,0,0,0
2,0,7,2015,27,1,0,1,1,0,0,0,0,0,0,0,0
3,0,13,2015,27,1,0,1,1,0,0,0,0,0,0,0,0
4,0,14,2015,27,1,0,2,2,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,35,30,2,5,2,0,0,0,0,0,0,0,0
119386,0,102,2017,35,31,2,5,3,0,0,0,0,0,0,0,2
119387,0,34,2017,35,31,2,5,2,0,0,0,0,0,0,0,4
119388,0,109,2017,35,31,2,5,2,0,0,0,0,0,0,0,0
119389,0,205,2017,35,29,2,7,2,0,0,0,0,0,0,0,2

In [26]:
int8_col= df.select_dtypes(include='int').columns
int8_col.drop('lead_time')
int8_col.drop('days_in_waiting_list')

Index(['is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_week_number', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'babies',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'booking_changes',
       'required_car_parking_spaces', 'total_of_special_requests'],
      dtype='object')

In [27]:
df.select_dtypes(include='int').max()

is_canceled                          1
lead_time                          737
arrival_date_year                 2017
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             19
stays_in_week_nights                50
adults                              55
babies                              10
is_repeated_guest                    1
previous_cancellations              26
previous_bookings_not_canceled      72
booking_changes                     21
days_in_waiting_list               391
required_car_parking_spaces          8
total_of_special_requests            5
dtype: int64

In [28]:
int16_col = pd.Series(['lead_time','days_in_waiting_list'])
int16_col

0               lead_time
1    days_in_waiting_list
dtype: object

In [29]:
for i in int8_col:
    #print(i)
    df[i] =  df[i].astype('int8')

In [30]:
for i in int16_col:
    #print(i)
    df[i] =  df[i].astype('int16')

In [31]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119386 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119386 non-null  object
 1   is_canceled                     119386 non-null  int8
 2   lead_time                       119386 non-null  int16
 3   arrival_date_year               119386 non-null  int8
 4   arrival_date_month              119386 non-null  object
 5   arrival_date_week_number        119386 non-null  int8
 6   arrival_date_day_of_month       119386 non-null  int8
 7   stays_in_weekend_nights         119386 non-null  int8
 8   stays_in_week_nights            119386 non-null  int8
 9   adults                          119386 non-null  int8
 10  children                        119386 non-null  float64
 11  babies                          119386 non-null  int8
 12  meal                            119386 non-null  object
 13  country                         119386 non-null  object
 14  market_segment                  119386 non-null  object
 15  distribution_channel            119386 non-null  object
 16  is_repeated_guest               119386 non-null  int8
 17  previous_cancellations          119386 non-null  int8
 18  previous_bookings_not_canceled  119386 non-null  int8
 19  reserved_room_type              119386 non-null  object
 20  assigned_room_type              119386 non-null  object
 21  booking_changes                 119386 non-null  int8
 22  deposit_type                    119386 non-null  object
 23  agent                           119386 non-null  float64
 24  days_in_waiting_list            119386 non-null  int16
 25  customer_type                   119386 non-null  object
 26  adr                             119386 non-null  float64
 27  required_car_parking_spaces     119386 non-null  int8
 28  total_of_special_requests       119386 non-null  int8
 29  reservation_status              119386 non-null  object
 30  reservation_status_date         119386 non-null  object
dtypes: float64(3), int16(2), int8(14), object(12)
memory usage: 92.3 MB

### Float

In [32]:
df.select_dtypes(include='float64')

        children  agent     adr
0            0.0    9.0    0.00
1            0.0    9.0    0.00
2            0.0    9.0   75.00
3            0.0  304.0   75.00
4            0.0  240.0   98.00
...          ...    ...     ...
119385       0.0  394.0   96.14
119386       0.0    9.0  225.43
119387       0.0    9.0  157.71
119388       0.0   89.0  104.40
119389       0.0    9.0  151.20

[119386 rows x 3 columns]

In [33]:
df['children'] = df['children'].astype('int8')

In [34]:
df['agent'] = df['agent'].astype('int16')

### object

In [35]:
df.select_dtypes(include='object')

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,August,BB,BEL,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-06
119386,City Hotel,August,BB,FRA,Online TA,TA/TO,E,E,No Deposit,Transient,Check-Out,2017-09-07
119387,City Hotel,August,BB,DEU,Online TA,TA/TO,D,D,No Deposit,Transient,Check-Out,2017-09-07
119388,City Hotel,August,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07
119389,City Hotel,August,HB,DEU,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07

In [36]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119386 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119386 non-null  object
 1   is_canceled                     119386 non-null  int8
 2   lead_time                       119386 non-null  int16
 3   arrival_date_year               119386 non-null  int8
 4   arrival_date_month              119386 non-null  object
 5   arrival_date_week_number        119386 non-null  int8
 6   arrival_date_day_of_month       119386 non-null  int8
 7   stays_in_weekend_nights         119386 non-null  int8
 8   stays_in_week_nights            119386 non-null  int8
 9   adults                          119386 non-null  int8
 10  children                        119386 non-null  int8
 11  babies                          119386 non-null  int8
 12  meal                            119386 non-null  object
 13  country                         119386 non-null  object
 14  market_segment                  119386 non-null  object
 15  distribution_channel            119386 non-null  object
 16  is_repeated_guest               119386 non-null  int8
 17  previous_cancellations          119386 non-null  int8
 18  previous_bookings_not_canceled  119386 non-null  int8
 19  reserved_room_type              119386 non-null  object
 20  assigned_room_type              119386 non-null  object
 21  booking_changes                 119386 non-null  int8
 22  deposit_type                    119386 non-null  object
 23  agent                           119386 non-null  int16
 24  days_in_waiting_list            119386 non-null  int16
 25  customer_type                   119386 non-null  object
 26  adr                             119386 non-null  float64
 27  required_car_parking_spaces     119386 non-null  int8
 28  total_of_special_requests       119386 non-null  int8
 29  reservation_status              119386 non-null  object
 30  reservation_status_date         119386 non-null  object
dtypes: float64(1), int16(3), int8(15), object(12)
memory usage: 90.8 MB

In [51]:
df.filter(regex='Canceled')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[119386 rows x 0 columns]